html {
	margin: 0px; padding: 0px;
}
body {
	margin: 0px; padding: 0px;
}
div {
	margin: 0px; padding: 0px;
}
p {
	margin: 0px; padding: 0px;
}
ul {
	margin: 0px; padding: 0px;
}
li {
	margin: 0px; padding: 0px;
}
dl {
	margin: 0px; padding: 0px;
}
dt {
	margin: 0px; padding: 0px;
}
dd {
	margin: 0px; padding: 0px;
}
h1 {
	margin: 0px; padding: 0px;
}
h2 {
	margin: 0px; padding: 0px;
}
h3 {
	margin: 0px; padding: 0px;
}
h4 {
	margin: 0px; padding: 0px;
}
h5 {
	margin: 0px; padding: 0px;
}
h6 {
	margin: 0px; padding: 0px;
}
form {
	margin: 0px; padding: 0px;
}
input {
	margin: 0px; padding: 0px;
}
select {
	margin: 0px; padding: 0px;
}
button {
	margin: 0px; padding: 0px;
}
textarea {
	margin: 0px; padding: 0px;
}
iframe {
	margin: 0px; padding: 0px;
}
body {
	font-family: arail, "微软雅黑","宋体",Tahoma, Geneva, sans-serif; font-size: 14px;
}
input {
	font-family: arail, "微软雅黑","宋体",Tahoma, Geneva, sans-serif; font-size: 14px;
}
select {
	font-family: arail, "微软雅黑","宋体",Tahoma, Geneva, sans-serif; font-size: 14px;
}
button {
	font-family: arail, "微软雅黑","宋体",Tahoma, Geneva, sans-serif; font-size: 14px;
}
textarea {
	font-family: arail, "微软雅黑","宋体",Tahoma, Geneva, sans-serif; font-size: 14px;
}
a {
	
}
area {
	
}
:focus {
	outline-style: none; -moz-outline-style: none;
}
h1 {
	color: rgb(174, 3, 69); font-size: 196%; font-style: normal; font-weight: normal;
}
.h1 {
	color: rgb(174, 3, 69); font-size: 196%; font-style: normal; font-weight: normal;
}
h2 {
	color: rgb(174, 3, 69); font-size: 167%; font-style: normal; font-weight: normal;
}
.h2 {
	color: rgb(174, 3, 69); font-size: 167%; font-style: normal; font-weight: normal;
}
h3 {
	color: rgb(223, 43, 114); font-size: 146.5%; font-style: normal; font-weight: normal;
}
.h3 {
	color: rgb(223, 43, 114); font-size: 146.5%; font-style: normal; font-weight: normal;
}
h4 {
	color: rgb(51, 51, 51); font-size: 123.1%; font-style: normal; font-weight: normal;
}
.h4 {
	color: rgb(51, 51, 51); font-size: 123.1%; font-style: normal; font-weight: normal;
}
h5 {
	color: rgb(174, 3, 69); font-size: 108%; font-style: normal; font-weight: bold;
}
.h5 {
	color: rgb(174, 3, 69); font-size: 108%; font-style: normal; font-weight: bold;
}
h6 {
	color: rgb(51, 51, 51); font-size: 108%; font-style: italic; font-weight: normal;
}
.h6 {
	color: rgb(51, 51, 51); font-size: 108%; font-style: italic; font-weight: normal;
}
img {
	vertical-align: middle;
}
table {
	vertical-align: middle;
}
input {
	vertical-align: middle;
}
select {
	vertical-align: middle;
}
button {
	vertical-align: middle;
}
img {
	border: 0px currentColor; vertical-align: top;
}
ul {
	list-style-type: none;
}
li {
	list-style-type: none;
}
button {
	cursor: pointer;
}
hander {
	cursor: pointer;
}
.m0 {
	margin: 0px;
}
.m5 {
	margin: 5px;
}
.m10 {
	margin: 10px;
}
.ml5 {
	margin-left: 5px;
}
.ml10 {
	margin-left: 10px;
}
.ml20 {
	margin-left: 20px;
}
.mr5 {
	margin-right: 5px;
}
.mr10 {
	margin-right: 10px;
}
.mr20 {
	margin-right: 20px;
}
.mt5 {
	margin-top: 5px;
}
.mt10 {
	margin-top: 10px;
}
.mt20 {
	margin-top: 20px;
}
.mb5 {
	margin-bottom: 5px;
}
.mb10 {
	margin-bottom: 10px;
}
.p0 {
	padding: 0px;
}
.p5 {
	padding: 5px;
}
.p10 {
	padding: 10px;
}
.pl5 {
	padding-left: 5px;
}
.pl10 {
	padding-left: 10px;
}
.pr5 {
	padding-right: 5px;
}
.pr10 {
	padding-right: 10px;
}
.pt5 {
	padding-top: 5px;
}
.pt10 {
	padding-top: 10px;
}
.pt20 {
	padding-top: 20px;
}
.pb5 {
	padding-bottom: 5px;
}
.pb10 {
	padding-bottom: 10px;
}
.pb20 {
	padding-bottom: 20px;
}
.tal {
	text-align: left;
}
.tar {
	text-align: right;
}
.tac {
	text-align: center;
}
.mc {
	margin: 0px auto;
}
.vc {
	vertical-align: middle;
}
.vt {
	vertical-align: top;
}
.fixed::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
.fixed {
	display: block; min-height: 1%;
}
.fixed {
	
}
.clear {
	margin: 0px auto !important; padding: 0px !important; width: auto !important; height: 0px !important; line-height: 0; overflow: hidden; clear: both; font-size: 0px; float: none !important; diplay: block;
}
.fleft {
	float: left; display: inline;
}
.fl {
	float: left; display: inline;
}
.fright {
	float: right; display: inline;
}
.fr {
	float: right; display: inline;
}
.clear {
	clear: both;
}
.psfix {
	position: relative;
}
.hand {
	cursor: pointer;
}
.fix {
	table-layout: fixed;
}
.tdfix {
	-ms-word-break: break-all; -ms-word-wrap: break-word;
}
.inline {
	display: inline-block;
}
.w25 {
	width: 25px;
}
.w30 {
	width: 30px;
}
.w40 {
	width: 40px;
}
.w50 {
	width: 50px;
}
.w60 {
	width: 60px;
}
.w70 {
	width: 70px;
}
.w80 {
	width: 80px;
}
.w90 {
	width: 90px;
}
.w100 {
	width: 100px;
}
.w120 {
	width: 120px;
}
.w150 {
	width: 150px;
}
.w170 {
	width: 170px;
}
.w200 {
	width: 200px;
}
.w250 {
	width: 250px;
}
.w300 {
	width: 300px;
}
.w350 {
	width: 350px;
}
.w400 {
	width: 400px;
}
.w450 {
	width: 450px;
}
.w500 {
	width: 500px;
}
.w730 {
	width: 730px;
}
.w30b {
	width: 30%;
}
.w50b {
	width: 50%;
}
.w70b {
	width: 70%;
}
.w80b {
	width: 80%;
}
.w98b {
	width: 98%;
}
.w100b {
	width: 100%;
}
.white {
	background: rgb(255, 255, 255);
}
.white td {
	background: rgb(255, 255, 255);
}
.white th {
	background: rgb(255, 255, 255);
}
.blue {
	background: rgb(232, 245, 254);
}
.blue td {
	background: rgb(232, 245, 254);
}
.blue th {
	background: rgb(232, 245, 254);
}
.green {
	background: rgb(242, 253, 219);
}
.green td {
	background: rgb(242, 253, 219);
}
.green th {
	background: rgb(242, 253, 219);
}
.pink {
	background: rgb(255, 231, 244);
}
.pink td {
	background: rgb(255, 231, 244);
}
.pink th {
	background: rgb(255, 231, 244);
}
.yellow {
	background: rgb(255, 255, 221);
}
.yellow td {
	background: rgb(255, 255, 221);
}
.yellow th {
	background: rgb(255, 255, 221);
}
.grey {
	background: rgb(247, 247, 247);
}
.grey td {
	background: rgb(247, 247, 247);
}
.grey th {
	background: rgb(247, 247, 247);
}
.red {
	background: rgb(255, 238, 238);
}
.red td {
	background: rgb(255, 238, 238);
}
.red th {
	background: rgb(255, 238, 238);
}
.highlight {
	background: rgb(255, 255, 0);
}
.fblue {
	color: rgb(42, 123, 197);
}
.fgreen {
	color: rgb(0, 102, 0);
}
.fpink {
	color: rgb(255, 0, 153);
}
.fyellow {
	color: rgb(153, 153, 0);
}
.fgrey {
	color: rgb(153, 153, 153);
}
.fgrey1 {
	color: rgb(102, 102, 102);
}
.fred {
	color: rgb(255, 0, 0);
}
a.fred {
	color: rgb(255, 0, 0);
}
.fwhite {
	color: rgb(255, 255, 255);
}
.forange {
	color: rgb(255, 102, 0);
}
.f9 {
	font-size: 9px;
}
.f12 {
	font-size: 12px;
}
.f14 {
	font-size: 14px;
}
.f16 {
	font-size: 16px;
}
.f18 {
	font-size: 18px;
}
strong {
	font-weight: bolder;
}
.fb {
	font-weight: bolder;
}
a.fb {
	font-weight: bolder;
}
.fn {
	font-weight: normal;
}
a.fn {
	font-weight: normal;
}
.text {
	line-height: 1.87em; font-size: 14px; font-weight: normal;
}
.small {
	line-height: 1.87em; font-size: 0.8em; margin-bottom: 1.87em;
}
.large {
	line-height: 2.5em; font-size: 1.2em; margin-bottom: 1.25em;
}
.skip {
	left: -999em; position: absolute;
}
.hide {
	display: none;
}
.none {
	display: none;
}
.view {
	display: block;
}
.block {
	display: block;
}
.note {
	color: rgb(170, 170, 170); line-height: 1.8em; font-size: 0.9em;
}
.fb {
	font-weight: bold;
}
.ti2 {
	text-indent: 2em;
}
.l12 {
	line-height: 12px;
}
.l14 {
	line-height: 14px;
}
.l16 {
	line-height: 16px;
}
.l18 {
	line-height: 18px;
}
.l20 {
	line-height: 20px;
}
.l24 {
	line-height: 24px;
}
.l30 {
	line-height: 30px;
}
.l36 {
	line-height: 36px;
}
.stringcut li {
	overflow: hidden; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.w192 li {
	width: 192px;
}
img.bline {
	padding: 3px; border: 1px solid rgb(221, 221, 221);
}
.errorBar {
	padding: 10px; border: 1px solid rgb(221, 221, 221); margin-bottom: 10px;
}
.noticeBar {
	padding: 10px; border: 1px solid rgb(221, 221, 221); margin-bottom: 10px;
}
.successBar {
	padding: 10px; border: 1px solid rgb(221, 221, 221); margin-bottom: 10px;
}
.errorBar {
	background: rgb(251, 227, 228); border-color: rgb(251, 194, 196); color: rgb(138, 31, 17);
}
.noticeBar {
	background: rgb(255, 246, 191); border-color: rgb(255, 211, 36); color: rgb(81, 71, 33);
}
.successBar {
	background: rgb(230, 239, 194); border-color: rgb(198, 216, 128); color: rgb(38, 68, 9);
}
.poperrorBar a {
	margin: 0px; padding: 0px; color: rgb(138, 31, 17);
}
.noticeBar a {
	margin: 0px; padding: 0px; color: rgb(81, 71, 33);
}
.successBar a {
	margin: 0px; padding: 0px; color: rgb(38, 68, 9);
}
.boxtitle_blue {
	padding: 5px 10px; border: 1px solid rgb(221, 221, 221); color: rgb(51, 51, 51); font-weight: bold; margin-top: 10px;
}
.boxtitle_green {
	padding: 5px 10px; border: 1px solid rgb(221, 221, 221); color: rgb(51, 51, 51); font-weight: bold; margin-top: 10px;
}
.boxtitle_pink {
	padding: 5px 10px; border: 1px solid rgb(221, 221, 221); color: rgb(51, 51, 51); font-weight: bold; margin-top: 10px;
}
.boxtitle_yellow {
	padding: 5px 10px; border: 1px solid rgb(221, 221, 221); color: rgb(51, 51, 51); font-weight: bold; margin-top: 10px;
}
.boxtitle_grey {
	padding: 5px 10px; border: 1px solid rgb(221, 221, 221); color: rgb(51, 51, 51); font-weight: bold; margin-top: 10px;
}
.box_blue {
	-ms-zoom: 1;
}
.box_green {
	-ms-zoom: 1;
}
.box_pink {
	-ms-zoom: 1;
}
.box_yellow {
	-ms-zoom: 1;
}
.box_grey {
	-ms-zoom: 1;
}
.boxtitle_blue {
	background: rgb(232, 245, 254); border-color: rgb(169, 201, 226);
}
.boxtitle_green {
	background: rgb(242, 253, 219); border-color: rgb(165, 207, 61);
}
.boxtitle_pink {
	background: rgb(255, 231, 244); border-color: rgb(249, 179, 213);
}
.boxtitle_yellow {
	background: rgb(255, 255, 221); border-color: rgb(233, 220, 142);
}
.boxtitle_grey {
	background: rgb(247, 247, 247); border-color: rgb(213, 213, 213);
}
.boxtitle_red {
	background: rgb(255, 238, 238); border-color: rgb(202, 0, 0);
}
.box_blue {
	border: 1px solid rgb(169, 201, 226);
}
.box_green {
	border: 1px solid rgb(165, 207, 61);
}
.box_pink {
	border: 1px solid rgb(249, 179, 213);
}
.box_yellow {
	border: 1px solid rgb(233, 220, 142);
}
.box_grey {
	border: 1px solid rgb(213, 213, 213);
}
.box_red {
	background: rgb(255, 241, 241); padding: 5px; border: 1px solid rgb(255, 180, 180);
}
.h24 {
	min-height: 24px; _height: 24px;
}
.h48 {
	min-height: 48px; _height: 48px;
}
.h72 {
	min-height: 72px; _height: 72px;
}
.h110 {
	min-height: 110px; _height: 110px;
}
.h200 {
	min-height: 200px; _height: 200px;
}
.h300 {
	min-height: 300px; _height: 300px;
}
.h390 {
	min-height: 390px; _height: 390px;
}
.h400 {
	min-height: 400px; _height: 400px;
}
