{% extends 'layout.html' %}
{% block page_title %}单号无忧_真实免费当天快递单号网 - 全网唯一免费单号提供网{% endblock %}
{% block content %}
    <body>

    <div id="mm">

        {% include 'header_nav.html' %}
        <form name="form" method="post" action="login?action=ok">
            {{ form.csrf_token }}
            <div class="tdmiddle">
                <table id="logins" width="950" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr>
                        <td width="700" height="185">
                            <iframe id="myiframe" src="/banner" frameborder="0" scrolling="no" width="697"
                                    height="255"></iframe>
                        </td>
                        <td height="190" valign="top">
                            <span id="loading"></span>
                            <table id="tblogin" width="255" height="185" border="0" cellpadding="0" cellspacing="0"
                                   align="center">
                                <tbody>
                                <tr>
                                    <td height="37" colspan="3" valign="middle"
                                        background="/static/images/mainright_02.gif"><img
                                            src="/static/images/mainright_01.gif" width="37" height="37"/><img
                                            src="/static/images/hylog.jpg" alt="会员登录" width="69" height="37"/></td>
                                    <td width="14"><img src="/static/images/mainright_03.gif" width="14" height="37"/>
                                    </td>
                                </tr>
                                {% if not g.user %}
                                    <tr>
                                        <td width="30%" height="37" align="right" valign="middle"
                                            background="/static/images/mainright_04.gif" class="indextext">
                                            用户名:
                                        </td>
                                        <td height="37" colspan="2" valign="middle">
                                            <input name="username" type="text" id="uer"
                                                   onFocus="this.style.border='solid 1px #6191FD'"
                                                   onBlur="this.style.border='solid 1px #CCCCCC';"
                                                   maxlength="16" class="inputnew"/>
                                        </td>
                                        <td background="/static/images/mainright_06.gif">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td width="30%" height="37" align="right" valign="middle"
                                            background="/static/images/mainright_04.gif" class="indextext"> 密
                                            码:
                                        </td>
                                        <td height="37" colspan="2" valign="middle">
                                            <input name="password"
                                                   onFocus="this.style.border='solid 1px #6191FD'"
                                                   onBlur="this.style.border='solid 1px #CCCCCC';"
                                                   id="pwd" type="password" size="20" value="{{ form.password.data }}"
                                                   class="inputnew"/></td>
                                        <td background="/static/images/mainright_06.gif">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td height="42" align="right" background="/static/images/mainright_04.gif">
                                            &nbsp;</td>
                                        <td align="left" valign="middle">
                                            <input type="image" name="submit" style="height: 32px;width: 91px;"
                                                   src="/static/images/button_login.gif" id="loginbtn">
                                        <td width="68" align="left" valign="middle"><a href="get_pass">忘记密码？</a></td>
                                        <td background="/static/images/mainright_06.gif">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td height="16" background="/static/images/mainright_08.gif">
                                            <img src="/static/images/mainright_07.gif" width="14" height="16"/>
                                        </td>
                                        <td colspan="2" background="/static/images/mainright_08.gif"></td>
                                        <td><img src="/static/images/mainright_09.gif" width="14" height="16"/></td>
                                    </tr>
                                    <tr>
                                        <td height="16" colspan="4">
                                            <a href="reg">
                                                <img src="/static/images/reg.jpg" border="0" alt="会员注册" width="253"
                                                     height="78"/>
                                            </a>
                                        </td>
                                    </tr>
                                {% else %}

                                    <tr>
                                        <td width="119" height="37" align="center" valign="middle"
                                            background="/static/images/mainright_04.gif" class="Menutext"
                                            style="padding-left: 10px;">&nbsp;&nbsp;会员用户名:
                                        </td>
                                        <td height="31" align="left" colspan="2" valign="middle"><font
                                                color="red">{{ g.user.name }}</font></td>
                                        <td background="/static/images/mainright_06.gif">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td height="31" align="center" valign="middle"
                                            background="/static/images/mainright_04.gif"
                                            class="Menutext" style="padding-left: 10px;">无忧币：
                                        </td>
                                        <td height="31" align="center" colspan="2" valign="middle"><font
                                                color="#FF3300">0</font>&nbsp;元&nbsp;<a href="login_user/paywyb">
                                            <strong style="color:#F00">充值</strong></a></td>
                                        <td background="/static/images/mainright_06.gif">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td height="31" align="center" valign="middle"
                                            background="/static/images/mainright_04.gif"
                                            class="Menutext" style="padding-left: 10px;">无忧积分：
                                        </td>
                                        <td height="31" align="center" colspan="2" valign="middle"><font
                                                color="#FF0000">0</font>&nbsp;分&nbsp;<a href="login_user/jifen"> <strong
                                                style="color:#F00">兑换</strong></a></td>
                                        <td width="7" background="/static/images/mainright_06.gif">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td height="25" align="right" valign="bottom"
                                            background="/static/images/mainright_04.gif">
                                            <img src="/static/images/user.png" alt="[用户中心]" width="18" height="18"
                                                 align="bottom"><a
                                                href="login_user/user"><font color="#3399FF">[用户中心]</font></a></td>
                                        <td height="25" align="left" colspan="2" valign="bottom">&nbsp;&nbsp;<img
                                                src="/static/images/block.png" alt="用户退出" width="18" height="18"
                                                align="bottom"><a
                                                href="loginout"><font color="#3399FF">用户退出</font></a></td>
                                        <td width="7" background="/static/images/mainright_06.gif">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td height="16" background="/static/images/mainright_08.gif"><img
                                                src="/static/images/mainright_07.gif" width="14" height="16"></td>
                                        <td colspan="2" background="/static/images/mainright_08.gif"></td>
                                        <td><img src="/static/images/mainright_09.gif" width="14" height="16"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" valign="middle" background="/static/images/mainright_02.gif">
                                            <img
                                                    src="/static/images/top_01.jpg"></td>
                                        <td><img src="/static/images/top_03.jpg"></td>
                                    </tr>
                                    <tr>
                                        <td height="15" align="center" valign="middle"
                                            background="/static/images/mainright_04.gif"
                                            class="Menutext">会员登陆ip：
                                        </td>
                                        <td height="15" align="left" colspan="2">116.25.67.15
                                        </td>
                                        <td background="/static/images/mainright_06.gif">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td height="15" align="center" valign="middle"
                                            background="/static/images/mainright_04.gif"
                                            class="Menutext">会员登录时间：
                                        </td>
                                        <td height="15" align="left" colspan="2">2015/12/27</td>
                                        <td background="/static/images/mainright_06.gif">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td height="16" background="/static/images/mainright_08.gif"><img
                                                src="/static/images/mainright_07.gif" width="14" height="16"></td>
                                        <td colspan="2" background="/static/images/mainright_08.gif"></td>
                                        <td><img src="/static/images/mainright_09.gif" width="14" height="16"></td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </form>


        <div id="tops1" class="tdmiddle">
            <table width="950" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td height="257" colspan="2" valign="top">
                        <table width="950" border="0" cellpadding="0" cellspacing="0">

                            <div id="link1">
                                <div id="mydiv"></div>
                            </div>

                            <tr>
                                <td height="37" colspan="2" valign="top" background="/static/images/mainright_02.gif">
                                    <img
                                            src="/static/images/mainright_01.gif" alt="左上角" width="37" height="37"/><img
                                        src="/static/images/zxdh.jpg" alt="最新快递单号" width="100" height="37"/></td>
                                <td width="14" valign="top">
                                    <img src="/static/images/mainright_03.gif" alt="右上角" width="14" height="37"/>
                                </td>
                            </tr>
                            <tr>
                                <td width="14" height="200" align="right" valign="middle"
                                    background="/static/images/mainright_04.gif">&nbsp;</td>
                                <td width="1141" valign="top">
                                    <table width="920" height="200" border="0" cellpadding="0" cellspacing="0">
                                        <tr align="center" valign="top">
                                            <td width="230">
                                                <div class="ul-td">
                                                    <ul>
                                                        <li>
                                                            <a href="login_user/shopnumber">发货地址：北京市<span> 12-26 今日已更新</span></a>
                                                        </li>


                                                        <li><a href="login_user/shopnumber">更多详细发货地址请到 单号大厅 搜索</a>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </td>
                                            <td width="230" class="tdli">

                                                <div class="ul-td">
                                                    <ul>

                                                        <li>
                                                            <a href="login_user/shopnumber">发货地址：浙江省<span> 12-26 今日已更新</span></a>
                                                        </li>


                                                        <li><a href="login_user/shopnumber">更多发货地址请到 单号大厅 搜索</a>
                                                        </li>

                                                    </ul>

                                                </div>
                                            </td>
                                            <td width="230" class="tdli">
                                                <div class="ul-td">
                                                    <ul>

                                                        <li>
                                                            <a href="login_user/shopnumber">发货地址：湖南省<span> 12-26 今日已更新</span></a>
                                                        </li>


                                                        <li><a href="login_user/shopnumber">更多发货地址请到 单号大厅 搜索</a>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td background="/static/images/mainright_06.gif">&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="16" background="/static/images/mainright_08.gif">
                                    <img src="/static/images/mainright_07.gif" alt="边框" width="14" height="16"/>
                                </td>
                                <td background="/static/images/mainright_08.gif"></td>
                                <td><img src="/static/images/mainright_09.gif" alt="边框" width="14" height="16"/></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>


        <div class="tdmiddle" id="helpers">
            <table width="920" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr>
                    <td colspan="3" align="center" valign="top">
                        <table width="920" height="308" border="0" cellpadding="0" cellspacing="0" align="center">
                            <tr>
                                <td width="290" height="103" valign="top" align="left">
                                    <a href="NewsList?type=2">
                                        <img src="/static/images/iconcs_002.png" alt="新手帮助"
                                             width="200"
                                             height="70" border="0" align="middle"/></a>
                                    <ul>
                                        <li><a href="News?id=759" title="【单号教程】单号领取/购买检测操作教程"><font color="#FF0000">【单号教程】单号领取/购买检测操作教程</font></a>
                                        </li>


                                    </ul>
                                </td>
                                <td width="25" align="left" class="tdli">&nbsp;</td>
                                <td width="290" align="left" valign="top">
                                    <a href="NewsList?type=1">
                                        <img src="/static/images/iconcs_005.png" alt="网站公告"
                                             width="200"
                                             height="70" border="0" align="middle"/></a>
                                    <ul>
                                        <li><a href="News?id=766" title="【公告】无忧积分兑换比例调整。"><font color="#FF0000">【公告】无忧积分兑换比例调整。</font></a>
                                        </li>


                                    </ul>
                                </td>
                                <td width="25" align="left" class="tdli">&nbsp;</td>
                                <td width="290" align="left" valign="top">
                                    <a href="NewsList?type=0">
                                        <img src="/static/images/iconcs_006.png" alt="新闻排行"
                                             width="200"
                                             height="70" border="0" align="middle"/>
                                    </a>
                                    <ul>
                                        <li><a href="News?id=49" title="重要公告 - 网站已于12月12号关闭注册！"><font
                                                color="#FF0000">重要公告
                                            - 网站已于12月12号关闭注册！</font></a></li>


                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>


        <br/><br/><br/><br/>


    </div>
    <div id="link">
        <h4><strong>友情链接</strong>LINK</h4>

        <div id="link_bg">
            <a href="http://www.aikuaidi.cn/" target="_blank">快递单号查询</a> |&nbsp;
        </div>
        <span></span>
    </div>

    </body>
{% endblock %}