{% extends 'layout.html' %}
{% set news_type={"news":"网站公告","help":"新手帮助"} %}
{% block page_title %}单号无忧_真实免费当天快递单号网 - 全网唯一免费单号提供网{% endblock %}
{% block content %}
    <body>

    <div id="mm">

        {% include 'header_nav.html' %}
        <div class="tdmiddle">
            <table width="950" height="138" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <td height="41" colspan="2">当前位置：<a href="/index">网站首页</a> &gt; 新手帮助</td>
                    <td width="200" rowspan="3" align="right" valign="top">
                    </td>
                    <td width="538" height="53" align="left" valign="middle"> </td>
                </tr>
                <tr>
                    <td height="500" colspan="3" valign="top">
                        <table width="950" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                            <tr>
                                <td height="30" background="images/jl_top.gif" class="td_03" align="left"></td>
                            </tr>
                            <tr>
                                <td valign="top">
                                    <table width="950" border="0" cellpadding="0" cellspacing="0" class="table_jl">
                                        <tbody>
                                        <tr>
                                            <td height="26" align="left" valign="middle" class="td_10">新闻</td>
                                            <td height="26" align="left" valign="middle" class="td_10">类型</td>
                                            <td height="26" align="left" valign="middle" class="td_10">阅读量</td>
                                            <td height="26" align="right" valign="middle" class="td_10">发表</td>
                                        </tr>
                                        {# list #}
                                        {% for n in info %}
                                        <tr>
                                            <td width="629" height="35" align="left" valign="middle" class="td_08">
                                                <img src="/static/images/ding.gif" alt="置顶" width="16" height="16">
                                                <a href="/news?id={{ n.id }}" target="_blank">
                                                  <span style="font-size: 14px; color:Black;">
                                                    <font color="#111111">【公告】{{ n.title }}</font>
                                                  </span>
                                                </a>
                                            </td>
                                            <td width="127" align="left" valign="middle" class="td_08">{{ news_type.get(n.type) }}</td>
                                            <td width="96" align="left" valign="middle" class="td_08"><span
                                                    style="color: #CC0000">{{ n.visit or 0 }}</span></td>
                                            <td width="96" height="36" align="right" valign="middle" class="td_08">管理员
                                            </td>
                                        </tr>
                                        {% endfor %}

{#                                        <tr>#}
{#                                            <td height="55" colspan="4" align="center">#}
{#                                                <div class="TPages"><span class="prev">首页</span>    <span#}
{#                                                        class="prev">上一页</span>    <span#}
{#                                                        class="nest">下一页</span>    <span#}
{#                                                        class="nest">尾页</span>#}
{##}
{#                                                    <form action="NewsList.asp?type=2" method="get">第 1 / 1 页  到 <input#}
{#                                                            type="text" name="page" size="1" format="*N" value="2"> 页<input#}
{#                                                            type="submit" class="submit" value="跳转"></form>#}
{#                                                </div>#}
{#                                            </td>#}
{#                                        </tr>#}
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td height="30" background="images/jl_down.gif"> </td>
                            </tr>
                            </tbody>
                        </table>
                        <br>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


        <br/><br/><br/><br/>


    </div>
    <div id="link">
        <h4><strong>友情链接</strong>LINK</h4>

        <div id="link_bg">
            <a href="http://www.aikuaidi.cn/" target="_blank">快递单号查询</a> | 
        </div>
        <span></span>
    </div>

    </body>
{% endblock %}