 <div id="foot_bg">
            <table width="950" height="115" border="0" cellpadding="0" cellspacing="0"><!--
    <tr>
      <td height="25" colspan="5" align="center" valign="bottom" class="QQun" >
      <img src="images/QunQ.gif" width="15" height="14" align="absmiddle"/>官方QQ①群：15504602</a>&nbsp;<a class="FootText">(加群请注明:会员用户名)</a>&nbsp;&nbsp;&nbsp;&nbsp;
      <img src="images/QunQ.gif" width="15" height="14" align="absmiddle"/>官方QQ②群：12693951</a>&nbsp;<a class="FootText">(加群请注明:会员用户名)</a>
      </td>
</tr>-->
                <tr>
                    <td height="25" colspan="5" align="center" valign="bottom"><span class="FootText">单号无忧网,您的信任是我们最大的动力。三年老站持续发力中。。</span>
                    </td>
                </tr>
                <td height="25" colspan="5" align="center" valign="bottom"><span
                        class="FootText">诚招卖家火力加盟中,收益多多,百万好友等着您哦。</span></td>
                </tr>
                <tr>
                    <td height="25" colspan="5" align="center" valign="bottom" class="FootText">Copyright @ 2012 - 2014
                        www.danhaowy.com All Rights Reserved.
                        <script src="http://s25.cnzz.com/stat.php?id=4677459&web_id=4677459&show=pic1"
                                language="JavaScript"></script>
                        &nbsp;&nbsp;
                        <a href="http://www.miibeian.gov.cn" class="FootText">苏ICP备12073262号-1</a>
                    </td>
                </tr>
            </table>
        </div>