<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
    <link href="{{ static('style/global.css') }}" rel="stylesheet" type="text/css"/>
    <link href="/static/style/font.css" rel="stylesheet" type="text/css"/>
    <link href="/static/style/contact.css" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" href="images/favicon.ico"/>
    <meta name="keywords" content="免费当天单号 真实快递单号 快递单号购买 单号出售"/>
    <meta name="description" content="单号无忧3年老站,信誉第一,单号更全,一单一用,降权免费提供底单,安全更可靠！"/>
    <title>{% block page_title %}单号无忧_真实免费当天快递单号网 - 全网唯一免费单号提供网{% endblock %}</title>
    {% block page_vars %}{% endblock %}
    {% block meta %}{% endblock %}
    {% block page_css %}{% endblock %}
    {# js代码 #}
    <script src="/static/js/jquery.min.js" type="text/javascript"></script>
    <script src="/static/js/GGB.js" type="text/javascript"></script>
    <script src="/static/js/totop.js"></script>
    <script src="/static/js/ContactIndex.js?20151102"></script>
</head>



{# body #}
{% block content %}{% endblock %}

{# 全局JS代码 #}
<script type="text/javascript">
    var gLocals = {
        'gUser': "{{ g.user }}",
        'csrf': "{{ csrf_token() }}",
        'role': "{{ g.user.role if g.user else "" }}"
    };
</script>

{# 单页JS代码 #}
{% block page_js %}{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}
