{% extends 'login_layout.html' %}
{% block page_title %}
    <title>会员中心 -单号无忧_真实免费当天快递单号网 - 全网唯一免费单号提供网</title>
{% endblock %}
{% block site_map %} 当前位置：<a href="/">网站首页</a> &gt; 会员中心{% endblock %}
{% block content %}
    <td valign="top" width="590" align="left">
        <table class="bk_01" border="0" cellspacing="0" cellpadding="0" width="541"
               background="/static/images/mid_bg.gif">
            <tbody>
            <tr>
                <td width="75" align="right">
                    <img src="/static/images/panel_icon_1.gif" alt="" width="75" height="50"/>
                <td colspan="2" align="left">

                    尊贵的：<font color="#FF0000"> {{ user.name }}</font> ，欢迎来到的会员中心！

                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td height="25" valign="center" align="left">登录时间：<font color="#FF0000"> {{ user.login_time }}</font>
                </td>
                <td height="25" valign="center" align="left">今日已领取单号：<font color="#FF0000">0</font>&nbsp;次
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td height="25" valign="center" align="left">登录Ip：{{ user.address }}</td>
                <td height="25" valign="center" align="left">每日可领取单号：<font
                        color="#FF0000">{{ user.max_order_num }}</font>&nbsp;次
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td height="25" valign="center" align="left">无忧币：<font color="#FF3300">{{ user.wuyoubi }}</font>&nbsp;元&nbsp;<a
                        href="paywyb" target="_blank">
                    <img src="/static/images/chonz.gif" width="25px"
                         height="13px" align="absbottom"
                         alt="充值无忧币"/></a></td>
                <td height="25" valign="center" align="left">无忧积分：<font color="#FF0000">{{ user.wuyoujifen }}</font>&nbsp;分&nbsp;<a
                        href="jifen" target="_blank">
                    <img src="/static/images/dh01.gif" width="25px"
                         height="13px" align="absbottom"
                         alt="兑换无忧币"/></a></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td height="25" valign="center" align="left">当前等级：{{ user.role }}</td>
                <td height="25" valign="center" align="left">会员激活状态：
                    {% if user.is_active == False %}
                        <font color="#FF0000"
                              style="font-weight: bold;font-size: 12px;text-decoration:none;">帐号未激活</font>&nbsp;
                        <a href="wybjihuo">
                            <img src="/static/images/jihuo.gif" border="0" align="top"
                                 title="点击此按钮激活帐号"/>
                        </a>
                    {% else %}
                        <font color="#FF0000"
                              style="font-weight: bold;font-size: 12px;text-decoration:none;">帐号已激活</font>&nbsp;
                    {% endif %}
                </td>

            </tr>
            <tr>
                <td>&nbsp;</td>
                <td height="25" valign="center" align="left">已发布单号数：<font color="#FF0000">0</font>&nbsp;条
                    <img src="/static/images/wenhao.gif" align="bottom"
                         title="已在本站发布的单号(每3天清理一次数据)！">
                </td>
                <td height="25" valign="center" align="left">已售出单号数：<font color="#FF0000">0</font>&nbsp;条
                    <img src="/static/images/wenhao.gif" align="bottom"
                         title="已在本站售出的单号(每3天清理一次数据)！">
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td height="25" valign="center" align="left">提现佣金：<font color="#FF0000">{{ user.money |float }}
                    元 </font>
                    <a href="tx" target="_blank">
                        <img src="/static/images/tixian.gif" width="25px"
                             height="13px" align="absbottom" alt="充值无忧币"/></a>
                </td>
                <td height="25" valign="center" align="left">提现冻结佣金：<font color="#FF0000">0.00 元
                    <img
                            src="/static/images/wenhao.gif" alt="提现等待处理中的金额！" align="bottom"
                            title="提现等待处理中的金额！"/></font>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td height="25" valign="center" align="left">发布积分：<font color="#FF0000">0</font> 分
                    <a href="sellerjf" target="_blank">
                        <img src="/static/images/dh01.gif" width="25px" height="13px"
                             align="absbottom"
                             alt="兑换佣金"/>
                    </a>
                </td>
                <td height="25" valign="center" align="left">&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td height="5" valign="center" align="left">&nbsp;</td>
                <td height="5" valign="center" align="left">&nbsp;</td>
            </tr>
            </tbody>
        </table>


        <table border="0" cellspacing="0" cellpadding="0" width="541" height="364">
            <tbody>
            <tr>
                <td valign="top" width="257" align="left">
                    <table class="bk_01" border="0" cellspacing="0" cellpadding="0" width="265">
                        <tbody>
                        <tr>
                            <td class="td_08 txt114" height="40" valign="center"
                                background="/static/images/T1U.jpg" width="126" align="left">新手帮助
                            </td>
                            <td class="td_08" valign="center" background="/static/images/T1U.jpg"
                                width="119" align="right"><a
                                    href="/NewsList?type=2" target="_blank">更多</a></td>
                        </tr>
                        <tr>
                            <td class="td_03" height="32" valign="center" colspan="2" align="left"
                                id="rawRecruit">

                                <ul>
                                    <li><a href="/News?id=759" title="【单号教程】单号领取/购买检测操作教程"><font
                                            color="#FF0000">【单号教程】单号领取/购买检测操作教程</font></a></li>

                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
                <td valign="top" width="284" align="right">
                    <table class="bk_01" border="0" cellspacing="0" cellpadding="0" width="265">
                        <tbody>
                        <tr>
                            <td class="td_08 txt114" height="40" valign="center"
                                background="/static/images/T1U.jpg" width="126" align="left">热门文章
                            </td>
                            <td class="td_08" valign="center" background="/static/images/T1U.jpg"
                                width="119" align="right"><a
                                    href="/NewsList?type=0" target="_blank">更多</a></td>
                        </tr>
                        <tr>
                            <td class="td_03" height="32" valign="center" colspan="2" align="left"
                                id="rawRecruit">

                                <ul>
                                    <li><a href="/News?id=49" title="重要公告 - 网站已于12月12号关闭注册！"><font
                                            color="#FF0000">重要公告 - 网站已于12月12号关闭注册</font></a></li>


                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
        <p>&nbsp;</p></td>
    <td valign="top" width="246" align="left">
        <table width="246" border="0" cellpadding="0" cellspacing="0" class="bk_01">
            <tbody>
            <tr>
                <td height="32"><img src="/static/images/zxgg.jpg" alt="" width="229"
                                     height="32"/></td>
            </tr>
            <tr>
                <td class="td_03" height="25" valign="center" colspan="2" align="left" id="advice">
                    <ul>
                        <li><a href="/News?id=766" title="【公告】无忧积分兑换比例调整。"><font color="#FF0000">【公告】无忧积分兑换比例调整。</font></a>
                        </li>
                        <li><a href="/News?id=765" title="【公告】支付宝充值系统异常解决办法！"><font
                                color="#FF0000">【公告】支付宝充值系统异常解决办法！</font></a></li>


                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </td>
{% endblock %}
