<div class="left">
    <div class="new_left">
        <a href="javascript:void(0);" onclick="leftss(1)">
            <h1><span id="_h1" style="margin-right:5px">-</span>单号中心
            </h1></a>
        <ul class="ua" id="left1">
            <li><a href="/login_user/ornumber">单号领取</a>
                <img alt="" src="/static/images/hot.gif">
            </li>
            <li><a href="/login_user/number">领取次数增加</a>
                <img alt="" src="/static/images/hot.gif">
            </li>
            <li><a href="/login_user/LookNumber">查看已领取单号</a>
                <img alt="" src="/static/images/hot.gif">
            </li>
            <li><a href="/login_user/wybjihuo"><span>金币激活帐号</span></a>
                <img alt="" src="/static/images/hot.gif">
            </li>
            <li><a href="/login_user/shopnumber"><span>单号购买</span></a>
                <img alt="" src="/static/images/midnew.gif">
            </li>
            <li><a href="/login_user/LookShopNumber"><span>查看已购买单号</span></a><img alt=""
                                                                                  src="/static/images/midnew.gif"></li>

        </ul>
    </div>
    <div class="new_left">
        <a href="javascript:void(0);" onclick="leftss(2)">
            <h1><span id="_h2" style="margin-right:5px">-</span>卖家中心
            </h1></a>
        <ul class="ua" id="left2">
            <li><a href="/login_user/seller"><span>发布单号</span></a>
                <img alt="" src="/static/images/midnew.gif">
            </li>
            <li><a href="/login_user/sellerlist"><span>已发布的单号</span></a>
                <img alt="" src="/static/images/midnew.gif">
            </li>
            <li><a href="/login_user/sellerout"><span>已售出的单号</span></a>
                <img alt="" src="/static/images/midnew.gif">
            </li>
            <li><a href="/login_user/shoplog"><span>佣金记录</span></a>
                <img alt="" src="/static/images/midnew.gif">
            </li>
            <li><a href="/login_user/sellerset"><span>设置默认发货</span></a>
                <img alt="" src="/static/images/midnew.gif">
            </li>
            <li><a href="/login_user/sellerjf"><span>发布积分兑换</span></a>
                <img alt="" src="/static/images/midnew.gif">
            </li>
            {% if not g.user.is_seller %}
                <li><a href="/login_user/upseller"><span>申请卖家</span></a>
                    <img alt="" src="/static/images/midnew.gif">
                </li>
            {% endif %}
        </ul>
    </div>
    <div class="new_left">
        <a href="javascript:void(0);" onclick="leftss(3)"><h1><span id="_h3" style="margin-right:5px">-</span>空包中心
        </h1></a>
        <ul class="ua" id="left3">
            <li><a href="/login_user/buykongbao">空包发货</a>
                <img alt="" src="/static/images/hot.gif">
            </li>
            <li><a href="/login_user/waitforsend">等待发货</a>
                <img alt="" src="/static/images/hot.gif">
            </li>
            <li><a href="/login_user/kbsent">已经发货</a><img alt="" src="/static/images/hot.gif">
            </li>
            <li><a href="/login_user/address">设置发货地</a><img alt="" src="/static/images/hot.gif">
            </li>
            <li><a href="/login_user/setdefault"><span><font color="red">设置默认快递</font></span></a><img alt=""
                                                                                                      src="/static/images/hot.gif">
            </li>
        </ul>
    </div>
    <div class="new_left">
        <a href="javascript:void(0);" onclick="leftss(4)"><h1><span id="_h4" style="margin-right:5px">-</span>会员中心
        </h1></a>
        <ul class="ua" id="left4">
            <li><a href="/login_user/chgpwd">修改登录密码</a></li>
            <li><a href="/login_user/alipay"><span>绑定支付宝</span></a><img alt="" src="/static/images/midnew.gif">
            </li>
            <li><a href="/login_user/tx"><span>佣金提现</span></a><img alt="" src="/static/images/midnew.gif">
            </li>
            <li><a href="/login_user/sj"><span>手机号码生成</span></a><img alt="" src="/static/images/midnew.gif">
            </li>
            <li><a href="/login_user/tuiguang">我的好友推广</a></li>
            <li><a href="/login_user/msg"><span>站内信箱{% if g.msg_num %}({{ g.msg_num }}){% endif %}</span></a>
                <img alt="" src="/static/images/midnew.gif">
            </li>
            <li><a href="" onclick="rusure() ;return false;">安全退出</a></li>
        </ul>
    </div>
    <div class="new_left">
        <a href="javascript:void(0);" onclick="leftss(5)">
            <h1><span id="_h5" style="margin-right:5px">-</span>财务管理
            </h1></a>
        <ul id="left5">
            <li><a href="/login_user/paywyb"><span>充值金币</span></a></li>
            <li><a href="/login_user/jifen">积分兑换</a></li>
            <li><a href="/login_user/txlog"><span>提现日志</span></a>
                <img alt="" src="/static/images/midnew.gif">
            </li>
            <li><a href="/login_user/paylog">充值日志</a></li>
            <li style="border-bottom:none;"><a href="/login_user/Fundslog">资金日志</a>
            </li>
        </ul>
    </div>
</div>