<style>
        a {
            text-decoration: none;
        }

        a:link {
            text-decoration: none;
        }

        a:visited {
            text-decoration: none;
        }

        a:hover {
            text-decoration: none;
        }

        a:active {
            text-decoration: none;
        }

        a:focus {
            outline: none;
            -moz-outline: none;
        }

        .bs {
            height: 20px;
            width: 180px;
            overflow: hidden;
            border: 1px solid #CBCBCB;
        }

        .btnumoff {
            background: url(/static/images/stkb.gif) repeat-x;
            color: #fff;
            border: 0;
            padding: 5px 15px;
            cursor: pointer;
        }

        .btnumon {
            background: url(/static/images/stkb1.gif) repeat-x;
            color: #fff;
            border: 0;
            padding: 5px 15px;
            cursor: pointer;
        }
    </style>
<div class="ding">
    <div class="ding_con">
        <div class="ding_l">
            <ol class="ann" id="divPost" style="height:28px;line-height:25px;overflow:hidden;">
                <li><a href="/News?id=766" title="【公告】积分兑换比例调整。" target="_blank">【公告】积分兑换比例调整。</a><span>2015/12/8 11:10:24</span>
                </li>
                <li><a href="/News?id=764" title="【公告】关于全一快递淘宝无物流。" target="_blank">【公告】关于全一快递淘宝无物流。</a><span>2015/11/17 22:13:11</span>
                </li>
                <li><a href="/News?id=763" title="【公告】“龙邦 飞远”接口修复淘宝暂无物流！" target="_blank">【公告】“龙邦
                    飞远”接口修复淘宝暂无物流！</a><span>2015/11/11 22:34:29</span></li>
                <li><a href="/News?id=762" title="【公告】发布虚假单号规则及处理方法"
                       target="_blank">【公告】发布虚假单号规则及处理方法</a><span>2015/9/18 21:58:47</span></li>
                <li><a href="/News?id=761" title="【公告】帐号充值系统正式更新" target="_blank">【公告】帐号充值系统正式更新</a><span>2015/9/3 17:49:06</span>
                </li>
            </ol>
            <script type="text/javascript">
                function AutoScroll() {
                    $("#divPost:first").animate({
                        marginTop: "-28px"
                    }, 500, function () {
                        $(this).css({marginTop: "0px"}).find("li:first").appendTo(this);
                    });
                }
                setInterval('AutoScroll()', 5000);
            </script>


        </div>


        <div class="ding_r"><a href="javascript:void(0);"
                               onclick="SetHome(this,'http://www.taodanwy.com/');">设为首页</a> | <a
                href="javascript:void(0);" onclick="AddFavorite('www.taodanwy.com',location.href)">加入收藏</a></div>
    </div>
</div>
<div class="pic">
    <div class="logo"></div>
    <div class="pic_r"><a href="#"><img src="/static/images/dt.jpg"/></a></div>
</div>
<div class="bannerr">
    <div class="ban">
        <div class="ban_b">
            <ul>
                <li><a href="/index">首页</a></li>
                <li><a href="/login_user/ornumber">单号领取</a></li>
                <li><a href="/login_user/shopnumber">单号购买</a></li>
                <li><a href="/login_user/seller">发布单号</a></li>
                <li><a href="/login_user/buykongbao">空包大厅</a></li>
                <li><a href="/login_user/user">会员中心</a></li>
                <li><a href="/login_user/tuiguang">推广中心</a></li>
                <li><a href="/login_user/paywyb">帐号充值</a></li>
            </ul>
        </div>
    </div>
</div>
<script src="/static/js/totop.js"></script>
<div class="clear"></div>