{% extends 'login_layout.html' %}
{% block page_css %}
    <style type="text/css">
        ul {
            margin: 0;
            padding: 0;
        }

        * {
            margin: 0px;
            padding: 0px;
        }

        .submit {
            cursor: pointer;
            color: #FFFFFF;
            background: url(./images/v.gif) no-repeat 0 0;
            width: 47px;
            line-height: 21px;
            height: 21px;
            border: 0px;
            padding: 0;
        }
    </style>
{% endblock %}
{% block page_js %}
    <script>
        function cop() {
            var str = document.getElementById("jifen").value;
            document.getElementById("money").innerHTML = str / 10 + " 元";
        }

        function CheckForm() {
            if (document.orderform.Count.value.length < 1) {
                alert("购买的次数不能为空,请检查!");
                document.orderform.Count.focus();
                return false;
            }
        }

    </script>
    <script type="text/javascript">
        function AutoScroll() {
            $("#divPost:first").animate({
                marginTop: "-28px"
            }, 500, function () {
                $(this).css({marginTop: "0px"}).find("li:first").appendTo(this);
            });
        }
        setInterval('AutoScroll()', 5000);
    </script>
    <script src="/static/js/totop.js"></script>
    <script src="/static/js/ContactIndex.js"></script>
    <script>alert('您好：microhan 您的帐号未激活,不能增加每日领取次数!');
    location.href = 'wybjihuo'</script>
{% endblock %}
{% block site_map %} 当前位置：<a href="/">网站首页</a> > <a href="/login_user/user">会员中心</a＞已发布单号列表　{% endblock %}
{% block content %}

{% endblock %}