{% extends 'login_layout.html' %}
{% block page_css %}
    <link rel="stylesheet" type="text/css" href="/static/css/public.css">
    <LINK href="/static/css/Qiindex.css" rel="stylesheet" type="text/css">
    <link type="text/css" rel="/static/stylesheet" href="/static/css/ui-dialog.css">
    <style type="text/css">
        ul {
            margin: 0;
            padding: 0;
        }

        .zdybutton {
            height: 20px;
            line-height: 20px;
            padding: 0 4px;
            border: 1px solid #06F;
            background: #09C;
            color: #FFF;
        }
    </style>
{% endblock %}
{% block page_title %}
    <title>单号中心 -单号无忧_真实免费当天快递单号网 - 全网唯一免费单号提供网</title>
{% endblock %}
{% block page_js %}
    <script language="javascript" type="text/javascript" src="/static/js/jquery-1.10.2.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/dialog-min.js"></script>
    <script language="javascript" type="text/javascript" charset="utf-8"
            src="/static/js/ornumber.js?20150930S"></script>
    <script language="javascript" type="text/javascript" src="/static/WdatePicker/WdatePicker.js"></script>
    <script>
        document.write("<s" + "cript type='text/javascript' src='/static/js/fhjsAddress.js'></scr" + "ipt>");
    </script>
    <script type="text/javascript">
        if (readCookie("s1") != "") {
            addressInit('Select1', 'Select2', 'Select3', readCookie("s1"), readCookie("s2"), readCookie("s3"));
            showre();
        } else {
            addressInit('Select1', 'Select2', 'Select3');
        }
    </script>


    <script>
        document.write("<s" + "cript type='text/javascript' src='/static/js/fhjsAddress.js'></scr" + "ipt>");
    </script>
    <script type="text/javascript">
        if (readCookie("s4") != "") {
            addressInit('Select4', 'Select5', 'Select6', readCookie("s4"), readCookie("s5"), readCookie("s6"));
            showre();
        } else {
            addressInit('Select4', 'Select5', 'Select6');
        }
    </script>
{% endblock %}
{% block site_map %} 当前位置：<a href="/">网站首页</a> > <a href="/login_user/user">会员中心</a> > 单号大厅{% endblock %}
{% block content %}
    <td valign="top" width="800">
        <div id="Notice" class="notice" style="color:red;font-size:18px">
            (韵达快递)即日起,继续停单,恢复时间请留意网站,等待恢复期间,建议购买空包,或者购买卖家发布的单号,感谢继续支持。
        </div>
        <!--<div id="Notice"  class="notice">单号大厅（领取），必须在帐号激活后才可以享受每日免费领取权限。 单号每天11点30开始更新,晚18点结束更新。<a href="/News.asp?id=48" style="color: #F00">>点击查看帮助<</a></div>-->

        <DIV class="div_block" style="margin-bottom:10px;">
            <DIV class="navbar-inner"><br/>
                <DIV class="input-prepend input-append">
                    <SPAN class="add-on">录单时间：</SPAN>
                    <INPUT id="sja" class="Wdate input-medium" type="text" value="2016-01-06"
                           onClick="WdatePicker({skin:'twoer',minDate:'%y-%M-%(d-2)',maxDate:'%y-%M-%d'})"/>

                    <SPAN class="add-on">查询方式：</SPAN>
                                      <SPAN class="add-on" style="background:#FFF; font-size:12px">
                                        <label><input type="radio" id="sertype"
                                                      name="sertype" value="1"
                                                      onclick="javascript:changesertype (1);"
                                                      checked="checked"/>按省市查询
                                            <input type="radio" id="sertype" name="sertype" value="2"
                                                   onclick="javascript:changesertype (2);"/>模糊查询
                                        </label>
                                      </SPAN>
                </DIV>
                <div id="diz2" style="display:none">
                    <DIV class="input-prepend input-append"><SPAN class="add-on">发货地址：</SPAN>
                        <INPUT id="shdz" name="shdz" class="input-medium" type="text" value=""/>
                        <SPAN class="add-on">收货地址：</SPAN>
                        <INPUT id="fhdz" name="fhdz" class="input-medium" type="text" value=""/>
                        <SPAN class="add-on">*请注意省市区中间加空格。</SPAN>
                    </DIV>
                </div>
                <div id="diz1">
                    <DIV class="input-prepend input-append"><SPAN class="add-on">发货地址：</SPAN>
                        <SELECT name='shenglist' id="Select1" class="input-medium"></SELECT>
                        <SELECT name='shilist' id="Select2" class="input-medium"></SELECT>
                        <SELECT name='qulist' id="Select3" class="input-medium"></SELECT>
                    </DIV>


                    <DIV class="input-prepend input-append"><SPAN class="add-on">收货地址：</SPAN>
                        <SELECT name='shenglist' id="Select4" class="input-medium"></SELECT>
                        <SELECT name='shilist' id="Select5" claqisoss="input-medium"></SELECT>
                        <SELECT name='qulist' id="Select6" class="input-medium"></SELECT>
                    </DIV>

                </div>


                <DIV class="input-prepend input-append"><SPAN class="add-on">快递类型：</SPAN>
                    <SELECT id="com" class="input-small" name="com">
                        <OPTION value="0" selected="selected">全部</OPTION>
                        <option value="yunda">韵达</option>
                        <option value="yuantong">圆通</option>
                        <option value="shentong">申通</option>
                        <option value="zhongtong">中通</option>
                        <option value="quanfeng">全峰</option>
                        <option value="huitong">汇通</option>
                    </SELECT>
                    <SPAN class="add-on">是否扫描：</SPAN>
                    <SELECT id="sm" class="input-small">
                        <OPTION value="0">全部</OPTION>
                        <OPTION value="1">是</OPTION>
                        <OPTION value="2">否</OPTION>
                    </SELECT>
                </DIV>


                <DIV class="input-prepend input-append" style="display:none;">
                    <SPAN class="add-on">验证码：</SPAN>
                    <input name="code" type="text" id="code" size="8" maxlength="5" style="border:1px solid #ccc;"/>
                    <!--   <a href="#" onclick="getcode();return false;">
                   <img id="icode" src="inc/node.asp" border="0" alt="看不清楚请点击刷新验证码" style="cursor : pointer;">
                   </a> --></DIV>


                <input type="button" class="btn btn-primary" id="select" onClick="showre()" value="提交查询"/><br><br>

            </DIV>
        </DIV>


        <DIV class="well">
            <DIV class="nav">领取前请先看此教程：<a href="{{ website.url }}/news?id=1" style="color:#C30"
                                          target="_blank"> {{ website.url }}/news?id=1</a> (检测功能实用教程)
                <INPUT class="btn btn-primary pull-right" type="submit" value="批量领取" onClick="Qiall()"></DIV>
            <HR>

            <span id="jhs"></span>

            <div id="imglist">
                <TABLE class="table table-bordered table-condensed table-striped" style="font-size: 12px;">
                    <THEAD>
                    <TR>
                        <TH align="center">序号</TH>
                        <TH align="center">快递单号</TH>
                        <TH align="center">快递类型</TH>
                        <TH align="center">发货地址/收货地址</TH>
                        <TH align="center">扫描时间</TH>
                        <TH align="center">操作</TH>
                        <TH align="center">批量</TH>
                    </TR>
                    </THEAD>
                    <TBODY>
                    <TR>
                        <TD></TD>
                        <TD></TD>
                        <TD></TD>
                        <TD></TD>
                        <TD></TD>
                        <TD></TD>
                        <TD></TD>
                        <TD></TD>
                        <TD></TD>
                    </TR>
                    </TBODY>
                </TABLE>
            </div>

        </DIV>
    </td>
{% endblock %}
