{% extends 'login_layout.html' %}
{% block page_css %}
    <liNK rel="stylesheet" type="text/css" href="/static/css/bootstrap.css"/>
{% endblock %}
{% block page_js %}
    <script src="/static/js/bootstrap.js" type="text/javascript"></script>
    <script language="javasscript" type="text/javascript" src="/static/WdatePicker/WdatePicker.js"></script>

    <script type="text/javascript">
        function AutoScroll() {
            $("#divPost:first").animate({
                marginTop: "-28px"
            }, 500, function () {
                $(this).css({marginTop: "0px"}).find("li:first").appendTo(this);
            });
        }
        setInterval('AutoScroll()', 5000);
    </script>

{% endblock %}
{% block site_map %} 当前位置：<a href="/">网站首页</a> > <a href="/login_user/user">会员中心</a> > 已发布单号列表{% endblock %}
{% block content %}
    <td valign="top" width="100%">
        <div style="width:100%; margin-left:5px">
            <div class="div_block">
                <div class="navbar-inner">
                    <form method="GET" action="sellerlist">
                        <div class="navbar-form pull-left"><span class="add-on">从：</span>

                            <input type="text" id="startdate" class="input" name="startdate" onclick="WdatePicker()"
                                   style="width:105px">
                            到
                            <input type="text" id="enddate" class="input" name="enddate" onclick="WdatePicker()"
                                   style="width:105px">

                            <input type="submit" class="btn" style="outline:none;" value="查询">
                        </div>
                    </form>
                </div>
            </div>


            <div class="well" style="margin-top:12px;">
                <div class="nav">已发布的快递单号：</div>
                <hr>
                <table class="table table-bordered table-condensed" style="font-size:12px;">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>快递单号</th>
                        <th>类型</th>
                        <th>发货地址</th>
                        <th>收货地址</th>
                        <th>单价</th>
                        <th>发布时间</th>
                        <th style=" width:5%">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for count, order in  orders %}
                        <tr>
                            <td>{{ count }}</td>
                            <td>{{ order.tracking_no }}</td>
                            <td>{{ order.tracking_company }}</td>
                            <td>
                                {{ order.send_addr_province }} {{ order.send_addr_city }} {{ order.send_addr_county }}</td>
                            <td>{{ order.recv_addr_province }} {{ order.recv_addr_city }} {{ order.recv_addr_county }}</td>

                            <td>0.50</td>
                            <td>{{ order.create_time }}</td>
                            <td><span class='qiall'><input id='Qidd' type='checkbox' name='Qidd'
                                                           value='{{ order.id }}'></span>
                            </td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
                <div style="float:right;display:inline; "><span style=" font-size:14px;"><input type='checkbox'
                                                                                                id='chkAll'
                                                                                                value='checkbox'
                                                                                                style='border:0'
                                                                                                onClick=checkAll()><input
                        id='qindex' type='hidden' value='0'/>全选/取消　<input type="submit" value="批量删除" id="sunel"
                                                                          class="btn" style="outline:none;"
                                                                          onclick="delall()"></span></div>
                <br/>
                <DIV class="page_list">
                    <DIV class="p_l">
                        <DIV id="page_iwymb">
                            <form method=Post action="?">
                                <span class=pageinfo>{{ page }}/{{ page_all }}页</span>
                                <a href=?page=1>首页</a>
                                {% if page > 1 %}
                                    <a href=?page={{ page - 1 }}>上页</a>
                                {% endif %}
                                {% if page < page_all %}
                                    <a href=?page={{ page + 1 }}>下页</a>
                                {% endif %}
                                <a href=?page={{ page_all }}>末页</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </td>
    <td width="163"></td>
    </tr>
    </tbody>
    </table>
    </div></div>
    <script type="text/javascript">
        function checkAll() {
            if ($("#chkAll").is(":checked")) {
                var ids = $("input[name='Qidd']");
                for (var i = 0; i < ids.length; i++) {
                    if (ids[i].checked == true) {
                        ids[i].checked = "";
                    } else {
                        ids[i].checked = "checked";
                    }
                }
            } else {
                $(".qiall input").attr("checked", false);
            }
        }

        function delall() {
            if (confirm('确认批量删除选中的已发布的单号吗？\n删除后买家会搜索不到您发布的单号。')) {
                var idx = document.getElementsByName("Qidd");
                var idlen = 0;
                var Qiids = "";
                for (var i = 0; i < idx.length; i++) {
                    if (idx[i].checked) {
                        idlen = idlen + 1
                    }
                }
                if (idlen < 1) {
                    alert('请先选中要删除的单号。');
                    return;
                }
                for (var i = 0; i < idx.length; i++) {
                    if (idx[i].checked) {
                        Qiids += "uid=" + idx[i].value + "&"
                    }
                }
                if (Qiids.charAt(Qiids.length - 1) == "&") {
                    Qiids = Qiids.substring(Qiids.length - 1, Qiids);
                }
                location = "sellerlist?type=delall&" + Qiids + "";
            }
        }
    </script>
    <div class="clear"></div>
    <div style="height:40px;"></div>
{% endblock %}