{% extends 'login_layout.html' %}
{% block page_css %}


    <script type="text/javascript">
        var sbye = 0.0000;
        var needMoney = 50.00;
        var userMoney = {{ g.user.money }};
        var CPH = "#Holder_";
        $(document).ready(function () {
            $("#btnin").bind("click", function () {
                if (!$("#cbread").attr("checked")) {
                    alert("请先阅读激活帐号,并同意激活帐号。");
                    return false;
                }
                if (userMoney < needMoney) {
                    alert("对不起，您当前的无忧币不足,请先充值!\n\n如您已充值,请刷新本页面！");
                    return false;
                }
                $(CPH + "btnIn").click();
            });


        });
    </script>



{% endblock %}
{% block site_map %} 当前位置：<a href="/">网站首页</a> > <a href="/login_user/user">会员中心</a> > 无优币激活帐号{% endblock %}
{% block content %}
    <td valign="top" width="756">
        <form name="Form" method="post" action="wybjihuo?action=jihuo" id="Form">
            <div class="midmess">
                <div class="bt01"><span class="fuwua">无忧币激活</span></div>
                <div class="fuwub">
                    <div class="fuwub_a">
                        <h5 class="fuwub_a_a">消费无忧币激活帐号,消费前请检查当前余额是否充足,激活金额为：<font color="red">50元</font></h5>
                        <h5 class="fuwub_a_b">无优币激活帐号</h5>
                        <ul>

                            <li><strong>本次激活需要缴纳：<font color="#ce0907">50</font> 元无忧币</strong></li>
                            <li>您剩余的无忧币：<font color="#ce0907">0</font> 元 <a href="paywyb.asp">立即充值&gt;&gt;</a></li>
                            <li class="fuwub_a_c"><input id="cbread" type="checkbox" value="">我同意激活<a
                                    href="/News.asp?id=730" target="_blank" style="color:#ff5500;">《激活帐号阅读》</a></li>

                        </ul>
                    </div>
                    <div class="fuwub_b"><em>图标 i</em>

                        <p>提示：缴纳成功后将扣除您50元无忧币。</p>
                    </div>

                    <div class="clear"></div>

                    <div class="fuwuc"><a id="btnin" class="fuwuc_a" style="cursor:pointer;">确认激活</a></div>
                    <div style="display:none;">
                        <input type="submit" name="Holder_btnIn" value="确认激活" id="Holder_btnIn">

                    </div>
                </div>
            </div>


            <div class="clear">&nbsp;</div>
        </form>
    </td>
    <td width="163"></td>
{% endblock %}
