@charset "utf-8";
*{ margin:0; padding:0;border:0; }
body { width:100%;  font-family:"微软雅黑"; color:#000000; font-size:12px; }
a{color:#000; text-decoration:none; }
a:link {color:#000; text-decoration:none; }
a:hover { color:#a90000;text-decoration:none; }
.clear { clear:both; }
img{border:0;}
ul{ list-style:none;}

.ding{ float:left; background:url(../images/ding.jpg) repeat-x; width:100%; height:28px; line-height:28px;}
.ding_con{ margin:0 auto; width:1000px;}
.ding_l{ float:left; width:500px;}
.ding_l .ann{ width:100%; float:left;}
.ding_l .ann li{background:url(../images/msg_bg.gif) no-repeat 0 -292px; text-indent:20px;overflow:hidden;height:28px; line-height:28px;}
.ding_l .ann li a{color:#f50;}
.ding_l .ann li span{color:#999;margin-left:10px;font-size:11px;}
.ding_r{ float:right; width:125px;}
.pic{ margin:0 auto; width:1000px;}
.logo{ float:left; background:url(../images/logo.gif) no-repeat; width:253px; height:86px; margin-top:5px; margin-right:10px;}
.pic_r{ float:right; margin-top:5px;}
.bannerr{ float:left; margin-top:10px; width:100%; background:url(../images/ban.jpg) repeat-x; height:43px; line-height:43px;}
.ban{ margin:0 auto; width:1000px;}
.ban_b{ float:left; width:1000px;}
.ban_b li{ float:left; width:125px; text-align:center; font-size:14px; color:#FFFFFF; font-weight:bolder;}
.ban_b li a{  float:left; width:125px; text-align:center; font-size:14px; color:#FFFFFF;font-weight:bolder;}
.ban_b li a:hover{  float:left; width:105px; height:31px; background:url(../images/02.jpg) no-repeat;text-align:center; font-size:14px; color:#333;font-weight:bolder; margin-top:6px; margin-left:20px; line-height:31px;}
.denglu_main1 li.wenzi{float:right; color:#58bdf9; padding-right:15px;}
.denglu_main1 li.wenzi a{ color:#58bdf9;}
.denglu_main1 li.wenzi a:hover{ color:#fff;}
.sylc{margin:0 auto; width:1000px;}
.sy_ban{ float:left; background:url(../images/sy.jpg); width:148px; height:46px; margin:30px 0 30px 0;}
.lcc{ float:left; width:1000px;}
.lc_l{ float:left; background:url(../images/z.jpg); width:15px; height:42px;}
.lc_c{ float:left; background:url(../images/zz.jpg) repeat-x; width:967px; height:42px;}
.lc_r{ float:left; background:url(../images/yy.jpg); width:18px;height:42px;}
.lc_c li{ float:left; width:161px; text-align:center;} 
.lc_b{ float:left; width:1000px; margin:30px 0;}
.lc_b li{ float:left; width:166px; text-align:center;}
.heng{ float:left; width:100%; background:url(../images/heng.jpg) repeat-x; height:13px; margin:15px 0;}

.dibu{margin:0 auto; width:1000px; border:#CCCCCC 1px solid; height:147px;}
.dibu_logo{ float:left; width:998px; border-bottom:#999999 1px dashed; background:url(../images/yqlj.jpg) no-repeat 10px 10px; height:33px; padding-top:10px;}
.dibu_logo2{ float:left; background:url(../images/yqljy.jpg) no-repeat; width:219px; height:
20px; margin:5px 0 0px 60px;}
.dibu_con{ float:left; width:980px; margin:20px; line-height:24px; font-size:13px;}
.dibu_con span{ float:left; margin-right:40px;}
.bott{ float:left; width:100%; background:url(../images/bbbbb.jpg) repeat-x; height:140px; background:#727272;}

.bot_wenzi{margin:0 auto; width:700px; color:#FFFFFF; line-height:32px; margin-top:35px; font-size:12px; text-align:center;}
