{% extends "admin/base.html" %}
{% from 'macro/form.html' import form_field %}
{% block title %}空包发货{% endblock %}
{% block content %}
    <script type="text/javascript" src="{{ static('WdatePicker/WdatePicker.js') }}"></script>
    <div class="pace  pace-inactive">
        <div class="pace-progress" data-progress-text="100%" data-progress="99" style="width: 100%;">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
    </div>
    <div id="wrapper">
        {% include 'admin/admin_nav.html' %}
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row border-bottom">
                {% include 'admin/header_nav.html' %}
            </div>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>数据表格</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="#">主页</a>
                        </li>
                        <li>
                            <a>表格</a>
                        </li>
                        <li>
                            <strong>数据表格</strong>
                        </li>
                    </ol>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>空包发货</h5>
                                </div>
                                <div class="ibox-content">
                                    <form class="form-horizontal m-t" method="post" id="commentForm"
                                          novalidate="novalidate">
                                        {{ form.csrf_token }}


                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">空包ID：</label>

                                            <div class="col-sm-8">

                                               <input id="id" name="packet_id" class="form-control"  value="{{ form.packet_id.data }}" disabled>
                                            </div>
                                        </div>
                                         <div class="form-group">
                                            <label class="col-sm-3 control-label">快递类型：</label>

                                            <div class="col-sm-8">

                                                <span id="type" class="form-control" >{{ nullpacket.express.type}}</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">单号：</label>

                                            <div class="col-sm-8">
                                                <input id="tracking_no" type="text" class="form-control" name="tracking_no"
                                                       required="" aria-required="true" value="{{ form.tracking_no.data or '' }}">
                                            </div>
                                        </div>
{#                                        <div class="form-group">#}
{#                                            <label class="col-sm-3 control-label">发货时间：</label>#}
{##}
{#                                            <div class="col-sm-8">#}
{#                                                <input id="send_time" type="text" class="form-control" name="send_time" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:00'})"#}
{#                                                       required="" aria-required="true" value="{{ form.send_time.data }}">#}
{#                                            </div>#}
{#                                        </div>#}
                                        <div class="form-group">
                                            <div class="col-sm-4 col-sm-offset-3">
                                                <button class="btn btn-primary" type="submit">提交</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="wrapper wrapper-content animated fadeInRight">

            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ static('plupload/js/plupload.full.min.js') }}"></script>
    <script type="text/javascript">

        $(function () {
            var uploader = new plupload.Uploader({
                browse_button: 'index_image',
                url: "/upload_image",
                multipart_params: {
                    'csrf_token': "{{ csrf_token() }}"
                }
            });

            uploader.init();

            // 文件添加后立即上传
            uploader.bind('FilesAdded', function (up, files) {
                plupload.each(files, function (file) {
                    uploader.start();
                });
            });

            // 上传项目图片
            uploader.bind('FileUploaded', function (up, file, info) {
                var base = '/static/images/';
                var response = $.parseJSON(info.response);
                if (response.status == 'ok') {
                    $(".imageview").removeClass("hide").attr("src", base + response.url);
                    $("#logo").val(response.url);
                } else {
                    $('.upload-error-info').text(response.error);
                }
            });
        })

    </script>
{% endblock %}